<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" /> <!-- Replace 'index.js' with the entry point of your Node.js app -->
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>