/* 
=============================================
                CSS RESET
============================================= */



a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


a, a:visited, a:hover, a:active {
    color: inherit;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  



/*
======================================
                HEADER
======================================
*/

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
    padding-left: 15%;
    /* margin-bottom: 30px; */
}


.body {
    background-image: linear-gradient(to bottom, white 9%, rgba(8,89,104,0.7),rgba(8,89,104,0.7),rgba(8,89,104,0.7), rgba(4,9,30,.7)), url('../images/homepageBackground.jpg') !important;
    background-size: cover;
    z-index: 1;
    position: relative;
    height: fit-content;
}


/*
*****************
    BACKGROUND
*****************
*/

.body {
    background-image: linear-gradient(to bottom, white 20%, rgba(8,89,104,0.7), rgba(4,9,30,.7)), url('../images/homepageBackground.jpg');
    background-size: cover;
    z-index: 1;
    position: relative;
    box-shadow: 0 2rem 4rem #000;
    /* background-repeat: no-repeat; */
}
/* #background {
    background-color: linear-gradient(to bottom, white 12%, rgba (8,89,104,.7));
    height: 100vh;
} */

/*
*****************
    LOGO
*****************
*/
.logo img {
    width: 40px;
    height: 50px;
}

.logo {
    border-top: 6px solid #648880;
    padding: 20px 0 22px 0;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 40px;
    line-height: 15px;

}
.logo span {
    font-size: 16px;
}
.logo a {
    color: #648880;
}




/*
*****************
    NAV
*****************
*/
.mobileNav {
    display: none;
}

.drop {
    border: solid transparent 3px;
}

.headerNav {
    flex: 1;
    text-align: right;
}
.headerNav ul li {
    display: inline-block;
    padding: 18px 12px;
}
.headerNav ul li {
    color: #648880 !important;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.headerNav ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #648880;
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: 0.4s;
}
.headerNav ul li:hover::after {
    width: 100%;
}


.dropDown li:last-child:after {
    content: '';
    width: 0;
    height: 1px !important;
    background: #648880;
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: 0.5s;
}

.fa {
    display: none;
}

.fa-sort-down {
    position: relative;
    bottom: 3px;
    
}
.sortDownContainer {
    transition: 200ms;
    display: inline-block;
}
.rotate {
    transform: rotate(180deg);
}
.dropDown {
  cursor: pointer;
}

/* FIX NAV HOVER */
.dropDown li::after {
    content: '';
    width: 0;
    height: 2px !important;
    background: #648880;
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: 0.5s;
}
.dropDown li:nth-child(3)::after{
    height: 1px !important;
}
.d5ropDown li:nth-child(4)::after {
    height: 2px !important;
}
.dropDown li:nth-child(5)::after {
  height: 2px !important;
}
/*
==========================
     NAV DROP DOWN
==========================
*/
.dropDown {
    position: absolute;
    top: 4rem;
    right: 2rem;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #648880;
    visibility: hidden;
    opacity: 0;
}
.dropDownReveal {
    visibility: visible;
    opacity: 1;
    background: rgba(255, 255, 255, 0.834);
    z-index: 100000;
}
.dropDownReveal {
    visibility: visible;
    opacity: 1;
}


.dropDown li{
    width: fit-content;
}






/*
*****************
     MOBILE
*****************
*/

@media(max-width: 700px) {
    /* .mainText {
        top: 80%;
        text-align: center;
    } */
    body {
       background: cover; 
    }
    .drop {
        display: none !important;
    }
    .header {
        display: block;
        padding-right: 60px;
        padding-left: 60px;
    }
    .logo {
        text-align: center;
    }
    
    html {
        background-image: linear-gradient(to bottom, white 11%, rgba(8,89,104,0.7) 45%), url('BridalShowerAssets/homepageBackground.jpg');
        background-size: cover;
    }

    .headerNav ul li {
        display: block;
    }
    .headerNav ul li a {
        color: white;
    }
    .headerNav {
        position: fixed;
        background: rgba(19, 36, 54, 0.9);
        height: 100vh;
        width: 200px;
        top: 0;
        /* maybe remove this */
        right: -200px;
        text-align: left;
        z-index: 11000 !important;
        transition: .5s !important;
    }

    .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }


    .headerNav ul {
        padding: 30px;
    }

    .fa-bars {
        display: inline;
        position: fixed !important;
        margin-top: 20px;
        font-size: 22px;
        z-index: 10000;
        
    }
    .contain{
        /* height: fit-content; */
        width: 90%;
        width: 100%;
        /* background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, .7),
            rgba(255, 255, 255, .3)
        ); */
        background: transparent !important;
        backdrop-filter: none !important;
        border-radius: 20px;
        /* backdrop-filter: blur(3px); */
        /* box-shadow: 0 25px 45px rgba(0,0,0,0.1); */
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin: 0;
        padding: 0;
        box-shadow: none !important;
        /* margin-top: -50px; */
        /* padding-top: -20px; */
        /* font-family: poppins; */
      }
      .body {
        height: 260vh;
      }
}
/*
*****************
     MOBILE
*****************
*/

@media(max-width: 700px) {

    /*
    *****************
       BACKGROUND
    *****************
    */
    
    html {
        background-image: linear-gradient(to bottom, white 11%, rgba(8,89,104,0.7) 45%), url('../images/homepageBackground.jpg');
        background-size: cover;
    }
    
    /*
    *****************
         HEADER
    *****************
    */
        .header {
            display: block;
            padding-right: 60px;
            padding-left: 60px;
            /* padding: 0; */
            
        }
        .logo {
            /* text-align: center; */
            border: none;
            transform: scale(.8);
            margin-left: -45px;
            margin-top: -10px;
        }
        .fa-bars{
            position: fixed;
            right: 10%;
        }
        

    /*
    *****************
          NAV
    *****************
    */
    .drop a{
        display: none;
    }
    .mobileNav {
        display: inline-block;
    }
    
    .headerNav ul li {
        display: inline-block;
    }
    .headerNav ul li a {
        color: white !important;
    }
    .headerNav {
        position: fixed;
        background: rgba(19, 36, 54, 0.9);
        height: 100vh;
        width: 200px;
        top: 0;
        /* maybe remove this */
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    .fa {
        display: block;
        color: white;
        color: black;
        color: #648880;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    
    .headerNav ul {
        padding: 30px;
    }
    
    .fa-bars {
        display: inline;
        position: absolute;
        margin-top: 20px;
        font-size: 22px;
        
    }
}





/* FIX NAV HOVER */
.dropDown li::after {
    content: '';
    width: 0;
    height: 2px !important;
    background: #648880;
    display: block;
    margin: auto;
    margin-top: 5px;
    transition: 0.5s;
}
.dropDown li:nth-child(3)::after{
    height: 1px !important;
}
.dropDown li:nth-child(4)::after {
    height: 2px !important;
}

/* .headerNav ul li:nth-child(3)::after {
    width: 100%;
} */
.headerNav .dropDown li:nth-child(2)::after{
    width: 100%;
}
.headerNav ul li:hover::after, .headerNav .dropDown li:nth-child(3):hover::after {
    width: 100%;
}















.imgModal{
    background: rgba(0,0,0,0.6);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30000;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.full-img{
    position: absolute;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s;
}
.full-img.open{
    transform: translate(-50%, -50%) scale(1);
}
.imgModal.open{
    opacity: 1;
    pointer-events: all;
}






/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

/* a {
  text-decoration: none;
  color: #648880;
} */
li {
  list-style: none;
}
:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --light: #f9f9f9de;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
    --green: #1bf773;
    --light-green: #D1F0E5;
}
html {
  overflow-x: hidden;
}
b {
    font-weight: 600;
}
body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}
body {
  /* background: var(--grey); */
  /* overflow-x: hidden; */
  /* background-image: linear-gradient(to bottom, white 4%, rgba(8,89,104,0.7),rgba(8,89,104,0.7),rgba(8,89,104,0.7), rgba(4,9,30,.7)), url('https://i.pinimg.com/originals/b7/e3/65/b7e3656d8ac8cb3901267627ba80a328.jpg') !important; */

}
/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--blue);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px  - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */
/* CONTENT */
#content {
  position: relative;
  /* width: calc(100% - 280px); */
  /* left: 280px; */
  transition: .3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  /* left: 60px; */
}
/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
.bx-info-circle {
    color: var(--blue);
    font-size: 25px;
    position: relative;
    top: 4px !important;
}
.status {
    position: relative;
    bottom: 4px;
}
#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
.searchform {
  max-width: 400px;
  width: 100%;
  /* margin-right: auto; */
}
.searchForm .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
.searchForm .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: white;
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
.searchForm .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */
/* MAIN */
#content main {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  /* border: solid black 4px; */
  padding: 36px 24px;
  padding-top: 0px;
  padding-bottom: 17px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  /* overflow-y: auto; */
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}
#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}
#content main .box-info li .bx {
  /* width: 130px; */
  /* height: 70px; */
  width: 120px;
  height: 60px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms ease-in-out;
  box-shadow: 0 0 5px rgba(216, 213, 255, 0.3);

}
#content main .box-info li:hover .bx {
    margin-bottom: 20px;
  }
#content main .box-info li:nth-child(1) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
  /* background: var(--light-blue); */
  /* color: var(--blue); */
}
#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#content main .box-info li .text p {
  color: var(--dark);  
}
#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  padding-top: 0 !important;
  /* background: var(--darkgrey); */
}
#content main .table-data .head .bx {
  cursor: pointer;
}
#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
  /* height: 600px; */
}
#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
  display: block;
  
}

#content main .table-data .order tbody::-webkit-scrollbar, #content main .table-data .todo::-webkit-scrollbar {
    display: none;
}
  .simplebar-scrollbar:before{
    margin-right: 2px;
    overflow: wrap;
}
#content main .table-data .order {
    max-height: 470px !important;
}
#content main .table-data .todo {
  height: 470px;
  padding-bottom: 0;
  
  /* padding-top: 0 !important; */
}

#content main .table-data .todo .todo-list {
  height: 360px;
  padding-bottom: 0;
  /* border-top: 1px solid var(--gray); */
}
#content main .table-data .todo .head {
  position: sticky;
  top: 0 !important;
  /* background-color: var(--light); */
  z-index: 100000;
}
#content main .table-data .todo .head h3 {
  padding-top: 24px;
  margin-top: 0;
}
/* #content main .table-data .order tbody {
    
    border: solid black 3px;
    height: 200px !important;
    overflow: hidden;
    overflow-y: scroll;
} */
/* #content main .table-data .order table {
  height: 200px !important;
  border: #060714 solid 3px;
  overflow: hidden !important;
} */
/* #content main .table-data .order table tbody {
    overflow-y: hidden;
    height: 200px !important;
    display: block;
} */
#content main .table-data .order table thead tr th:nth-child(1){
    width: 100%;
    /* display: table-header-group; */
    /* display: block; */
    /* display: inline-block; */
    /* display: unset; */
  }
  #content main .table-data .order table tbody tr:nth-child(1){
    position: sticky;
    top: 0;
    /* padding-bottom: 12px; */
  font-size: 16px;
  text-align: left;
  /* border-bottom: 1px solid rgba(197, 195, 195, 0.723) !important; */
  /* outline: 3px solid var(--grey); */
  z-index: 10000;
  font-weight: 600;
  background: #eee;
  /* border-radius: 20px; */
  /* background: var(--light); */
  
  /* outline-offset: px; */
  }
  #content main .table-data .order table tbody tr:nth-child(1):after {
    content: "";
    position: absolute;
    /* width: 100%; */
    height: 1px;
    width: 40px;
    width: 300px;
    width: 100%;
    top: 100%;
    left: 0;
    /* right: 90%; */
    background: #eee;
    background: rgba(197, 195, 195, 0.723);
    /* background: black; */
  }
  #content main .table-data .order table tbody tr:nth-child(1):hover {
    background: #eee;
  }
  
  #content main .table-data .order table tbody {
    display: table-row-group;
    height: 351px !important;
    /* border: 1px solid black; */
    display: block;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
  }
  #content main .table-data .order table tr {
    display: table-row;
    /* width: 100% !important; */
  }
table {
    /* display: block; */
    width: 100%;
}
.div {
    /* height: 200px; */
    /* display: block; */
    /* width: fit-content; */
    /* display: inline-block; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
    /* border: 1px solid black; */
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
  padding: 16px 38px;
  padding: 16px 98px;
}
#content main .table-data .order table tr td:first-child {
  /* display: flex; */
  align-items: center;
  /* grid-gap: 12px; */
  padding-left: 6px;
}
#content main .table-data .order table tr td:nth-child(3) {
padding-right: 25;
/* padding-left: 5px; */
}
#content main .table-data .order table tr td:nth-child(4) {
    padding-right: 5px;
}
#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#content main .table-data .order table tbody tr {
  background-color: var(--gray);
  cursor: pointer;
}
#content main .table-data .order table tbody tr:hover {
  background: var(--light);
}
#content main .table-data .order table tr td .status {
  font-size: 12px;
  padding: 6px 16px;
  color: white;
  border-radius: 20px;
  font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
  background: var(--green);
}
#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}
#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
  width: 100%;
}
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  background-color: white;
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
    font-size: 25px;
}
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
/* MAIN */
/* CONTENT */
@media screen and (max-width: 1350px) {
    #content main .table-data .order table tbody {
        height: 315px !important;
        
      }

      #content main .table-data .order table td {
        padding: 16px 38px;
        padding: 16px 68px;
      }
}
@media screen and (max-width: 1000px) {
  #content main .table-data .order table tbody {
      height: 300px !important;
      
    }

    #content main .table-data .order table td {
      padding: 16px 38px;
      padding: 16px 48px;
    }
    .contain {
      padding-bottom: 100px;
    }
}
    
@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }
  #content {
    /* width: calc(100% - 60px); */
    /* left: 200px; */
  }
  #content nav .nav-link {
    display: none;
  }

  #content main .table-data .order table td {
    padding: 16px 28px;
  }
}
@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }
  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }
  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }
  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }
  #content main .box-info {
    /* grid-template-columns: 1fr; */
  }
  #content main .table-data .head {
    /* min-width: 420px; */
  }
  #content main .table-data .order table {
    /* min-width: 420px; */
  }
  #content main .table-data .todo .todo-list {
    /* min-width: 420px; */
  }
}





.search::placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
}






.contain{
  /* height: fit-content; */
  width: 80%;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, .7),
      rgba(255, 255, 255, .3)
  );
  border-radius: 20px;
  backdrop-filter: blur(3px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -50px;
  padding-top: -20px;
  /* font-family: poppins; */
}