    <div class="table_body">
        <table>
            <thead>
                <tr>
                    <th>Chosson</th>
                    <th>Kallah</th>
                    <th  class="center">Status</th>
                </tr>
            </thead>
            <tbody>
                <% coupleInfo.forEach(couple => { %> 
                <tr data-original= "<%= couple.chossonName + ' ' + couple.kallahName%>.png" >
                    <td><%= couple.chossonName %></td>
                    <td><%= couple.kallahName %></td>
                    <td class="center">
                        <p class="status <% if(couple.announcement === false) { %> pending <% } else { %> view <% } %>"><% if(couple.announcement === false) { %> pending <% } else { %> view <% } %></p>
                    </td>
                    <!-- <div class="img-container"  id="announcements"></div> -->
                </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>
