    <div class="table_body">
        <table>
            <thead>
                <tr>
                    <th>Chosson</th>
                    <th>Kallah</th>
                    <th>Info</th>
                    <th  class="center">Status</th>
                </tr>
            </thead>
            <tbody>
                <% coupleInfo.forEach(couple => { %> 
                    <tr data-original="<%= couple.imageString %>">
                    <td><%= couple.chossonName %></td>
                    <td><%= couple.kallahName %></td>
                    <td>
                        <p><i style="color: rgba(79, 89, 96, 0.537); font-size: 25px; cursor: pointer;" data-id="<%= couple._id %>" class="coupleInfo fa-solid fa-circle-info"></i></p>
                        <!-- <p class="status <% if(couple.announcement === false) { %> pending <% } else { %> view <% } %>"><% if(couple.announcement === false) { %> pending <% } else { %> view <% } %></p> -->
                    </td>
                    <td class="center">
                        <p class="status <% if(couple.announcement === false) { %> pending <% } else { %> view <% } %>"><% if(couple.announcement === false) { %> pending <% } else { %> view <% } %></p>
                    </td>
                    <!-- <div class="img-container"  id="announcements"></div> -->
                </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>


    <!-- ADD INFO ICON IN ORDER TO VIEW PARENTS NAMESs -->